doctype html
html
  head
    title LAGMAN
    style
        | body {
        |     text-align: center;
        | }
        | #game {
        |    width: 800px;
        |    margin: 0 auto;
        | }
  body
    h1 LAGMAN
    #game
    script(src="/js/libs.js")
    script(src="/js/main.js")
